{{#if errorMessages}}
  <div class="error-container-wrapper">
    {{! template-lint-disable invalid-interactive}}
    <div class="close-icon" {{action 'clearErrors'}}>{{inline-svg 'delete' class="icon cursor-pointer"}}</div>
    <ul>
      <div>
        We encountered few errors
      </div>
      {{#each errorMessages as |error|}}
        <li>
          {{error}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
