body {
  color: #000;
  font-weight: 400;
}
.cursor-pointer {
  cursor: pointer;
}
.field-creation-container {
  margin: 60px 20px;
}
.field-item {
  margin-bottom: 20px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}
.inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}
.w-5 {
  width: 5%;
}
.w-30 {
  width: 30%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.text-right {
  text-align: right;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
svg.icon {
  width: 15px;
  height: 15px;
  fill: currentColor;
}
.close-icon {
 float: right;
}
.button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0px 12px;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  font-size: 12px;
  font-weight: 500;
}
button.button:hover, button.button:focus {
  background-color: #fff;
  border-color: #ddd;
  color: #000;
}
.button:focus {
  outline: none;
}
.button-primary {
  background-color: #2fa3e6;
  border-color: #2fa3e6;
  color: #fff;
}
button.button-primary:hover {
  background-color: #3a90c1;
  border-color: #3a90c1;
  color: #fff;
}
.disabled {
  cursor: not-allowed;
  opacity: .3;
}

.main-page {
  width: 850px;
  margin: 0 auto;
  min-height: 400px;
  background-color: #f7fbff;
  padding: 20px;
}
.ember-notify-default.ember-notify-cn {
	top: 0px;
}
.ember-notify-default .success {
  background-color: #53B05A;
  color: #fff;
}
/* Filter creation page */
.header-section {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.header-section .search-field-section {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.search-field-section .search-input {
  padding: 18px 7px;
  width: 57%;
}
.search-field-section .search-button {
  width: 40%;
}
.table-wrapper {
  border-bottom: 1px solid #ededed;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.table-wrapper th {
  text-align: left;
  padding: 5px 10px;
}
.table-wrapper thead:first-child {
  border-top: 1px solid #e6e6e6;
}
.table-wrapper thead {
  border-bottom: 1px solid #e6e6e6;
  color: #263035;
  background-color: #f7f7f7;
  font-weight: 700;
}
.table-wrapper td {
  cursor: pointer;
}
input.form-control, textarea.form-control{
  font-size: 13px;
  width: 100%;
  height: 17px;
  padding: 14px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  margin-bottom: 0px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
  outline: none;
}
.condition-section {
  background-color: #ddeeff;
  margin-bottom: 40px;
  padding: 20px;
}
.condition-item {
  padding: 15px 0px;
}
.condition-item .condition-field {
  width: 17%;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
}
.actions-section {
  margin-top: 30px;
}
.actions-list {
  margin: 10px 0px 40px 0px;
  background-color: #ddeeff;
  padding: 20px;
}
.action-field {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
}
.action-item {
  padding: 15px 0px;
}
.error-container-wrapper {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  margin-bottom: 30px;
}
.details-container {
  max-width: 400px;
  margin: 60px auto;
}

/* Ember power select*/
.ember-power-select-trigger:focus {
  outline: none;
}
.ember-power-select-trigger {
  cursor: pointer;
}

/* table css */
.placeholder-container {
  position: relative;
}
.sort-header-name {
  float: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sortable {
  cursor:pointer;
}
.sort-caret {
  margin-right:15px;
}
.sort {
  top: 50%;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}
.down.caret {
  border-top-color: #333;
  opacity: 1;
}
.up.caret {
  border-bottom: 4px solid #000;
  border-top: 0px;
  display: block;
  margin-bottom: 6px;
}
.caret {
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.asc .sort .down.caret, .desc .sort .up.caret {
  opacity: 0.3
}
.pagination-bar {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.pagination-bar .perpage {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}
.page-navigator {
  width: 20%;
  padding-left: 10px;
  display: inline-block;
}
/* Loading animation */
.loading-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loading-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #6d6b6b;
  border-color: #6d6b6b transparent #6d6b6b transparent;
  animation: loading-ring-animation 1.2s linear infinite;
}
@keyframes loading-ring-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
