{{#if headerColumns}}
  <thead>
    {{#unless isLoading}}
      <tr>
        {{#each headerColumns as |header|}}
          {{table/table-header content=header sortColumn=sortColumn sortOrder=sortOrder sortDidChange=sortDidChange}}
        {{/each}}
      </tr>
    {{/unless}}
  </thead>
{{/if}}

<tbody>
  {{#if content}}
    {{yield}}
  {{else}}
    <tr>
      <td class="text-center" colspan={{headerColumns.length}}>
        No Records found
      </td>
    </tr>
  {{/if}}
</tbody>
